/*Navigation bar*/

.topnav {
    overflow: hidden;
    text-align: right;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    font-family: 'Bebas Neue', cursive;;
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
  }
  
  
  .topnav a:hover {
    color: #FF8367;
    pointer-events: stroke;
  }

/*Navigation bar complete*/

body{
    font-family: 'Amatic SC', cursive;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    font-weight: 300;
    line-height: 0.9;
}
h2{
    font-size: 60px;
}
section{
    display: block;
    height: 500px;
    margin-left: 6px;
    margin-right: 6px;
}
.topbanner{
    text-align: center;
    height:180px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:0mm ;
    background-color: rgba(223, 46, 15, 0.24);
    margin-bottom: 20px;
}
.bottombanner{
    text-align: center;
    height:100px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:0mm ;
    margin-bottom: 10px;
}
.bottombanner h2{
    padding-top: 8px;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

h3{
    color: #363958;
    font-size: 30px;
    font-weight:bolder;
    font-family: 'Bebas Neue', cursive;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400px;
}
.colortext{
    color: #FF8367;
}
.half-width{
    width: 40%;
    margin-left: 10px;
    padding: 5px;
    float: left;
}

.firstpart img{
    height: 80%;
    width: 80%;
    size: 80%;
    padding-left: 100px;
    padding-top: 0px;
}
.textzone {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-left: 150px;
    padding-top: 100px;
}
.firstpart h1{
    margin-bottom: 0;
}
.firstpart p{
    padding-bottom: 10px;
}

.pricebutton{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-decoration: none;
    margin-top: 30px;
    background-color: #FF8367;
    padding: 12px 30px;
    border-radius: 10px;
    color: aliceblue;
    font-weight: 900;
}
.firstpart .half-width .textzone{
    margin-left: 200px;
    padding-left: 350px;
    padding-top: 300px;
    margin-top: 200px;
}

.secondpart{
    height: 600px;
    padding-bottom: 5px;
}
.secondpart .half-width{
    padding-left: 100px;
}
.secondpart img{
    padding-left: 150px;
    height: 100%;
    width: 100%;
    size: 120%;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: -400px;
}
.secondpart h3{
    font-size: 30px;
    font-weight:bolder;
    padding-top: 0px;
}

.secondpart p{
    font-size: 16px;
    padding-bottom: 10px;
}

.secondpart .half-width .textzone{
    padding-left: 200px;
    text-shadow: brown;
}
.worksdone{
    margin-top: 200px;
    margin-bottom: 200px;
    padding-left: 50px;
    padding-bottom: 50px;
    background-color: rgb(233, 232, 232);
}

.worksdone h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    font-weight: 300;
}
.worksdone h3{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 800;
}
.worksdone .half-width{
    padding-left: 0px;
    padding-right: 65px;
    margin-right: 35px;
    margin-left: 0px;
    height: 300px;
}

.texts{
    margin-top: 2px;
    box-shadow: 8px 8px 30px gray;
    border-radius: 10px;
    width: 20%;
    height: 250px;
    margin-left: 200px;
    padding-left: 90px;
    margin-right: 20px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.texts img{
    padding-left: 5px;
    width: 286px;
    height: 160px;
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.worklist{
    margin-top: 10px;
    padding-left: 100px;
}
#horsinaround{
    border-left: 10px solid;
    border-image: linear-gradiaent(180deg, lightsalmon, tomato) ;
    border-image-slice: 1;
    border-left-style:groove ;
}

#secretariat{
    border-left: 8px solid;
    border-image: linear-gradiaent(180deg, rgb(118, 126, 202), rgb(30, 87, 161)) ;
    border-image-slice: 1;
    border-left-style:groove ;
}


.final{
    background-image: url("images/Group_33094_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 60%;
    height: 200px;
    margin-left: 290px;
    margin-right: 25%;
    margin-top: 80px;
    
}

.finaltext{
    
    width: 45%;
    height:  80px;
    float: left;
    margin: 2% 2%;
    padding-left: 1%;
    padding-top: 1%;
}

.finalbutton{
    width: 45%;
    height: 80px;
    float: left;
    margin-top: 11%;
    margin-left: 3%;
}

.specialbutton{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background-color: #FF8367;
    padding: 17px 27px;
    border-radius: 5%;
    color: white;
    margin-top: 12%;
    margin-left: 50%;
}

.workinquiry{
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    color: white;
    margin-left: 10%;
    margin-top: 10%;
}


footer{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    height: 80px;
}
footer p{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: #363958;
}
.email{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #363958;
}
.footertext{
    color: aliceblue;
    text-align: center;
    font-size: 13px;
    font-size: 20px;
    font-size: large;
}

.logos{
    text-align: center;
}

.logos img{
    height: 30px;
    padding-right: 20px;
}

.awards{
    background-color: rgb(241, 239, 239);
}
.awards h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
}

.achievelist{
    font-family: 'Amatic SC', cursive;
    font-size: 36px;
    color: #363958;
    padding-left: 150px;
}

.dontcare{
    font-family: 'Amatic SC', cursive;
    font-size: 22px;
    color: #363958;
}